*,
*::after,
*::before {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
  line-height: 1.5;
  margin: 0;
}

.body-card-category,
.body-card-text,
.body-card-discount-text,
.body-card-cart-button {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
}

.content {
  min-height: 100svh;
  display: grid;
  place-items: center;
}

.card {
    display: grid;
  width: 20rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
}

.main-image {
  max-width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  object-fit: cover;
}

.body-card {
  padding: 1rem 1.5rem;
  text-align: start;
}

.body-card-category {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 0.8rem;
}

.body-card-name,
.body-card-price {
  font-family: "Fraunces", serif;
}

.body-card-name {
  color: hsl(212, 21%, 14%);
  font-size: 1.6rem;
  line-height: 1;
}

.body-card-text {
  font-size: 0.81rem;
}

.body-card-price {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.body-card-price-text {
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
}

.body-card-discount-text {
  font-size: 0.8rem;
  text-decoration: line-through;
  margin-bottom: 0;
}

.body-card-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem;
  background-color: hsl(158, 36%, 37%);
  color: white;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.attribution {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
}
.attribution a {
  color: hsl(158, 36%, 37%);
  font-weight: 700;
}

@media (min-width: 40em) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 40em;
  }

  .main-image {
    content: url("./images/image-product-desktop.jpg");
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5em;
  }

  .body-card {
    padding: 1.5rem 2rem;
  }

  .body-card-category{
    font-size: 1rem;
  }

  .body-card-name {
    font-size: 2.3rem;
  }

  .body-card-text{
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .body-card-price{
    margin-bottom: 1.5rem;
  }

  .body-card-discount-text{
    font-size: 0.9rem
  }

  .body-card-cart-button{
    padding: 0.8em;
    margin-bottom: 0;
  }

  .body-card-cart-button:active {
    background-color: hsl(158, 36%, 20%);
  }

}
