:root {
  --clr-primary-600: hsl(158, 36%, 37%);
  --clr-primary-200: hsl(30, 38%, 92%);
  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-700: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --fs-default: 0.875rem;

  --ff-base: "Montserrat", sans-serif;
  --ff-accent: "Fraunces", serif;

  --fw-regular: 500;
  --fw-bold: 700;
}

/* Intuitive box-sizing model */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

/* Avoid text overflowing */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Reduce line-height for large text */
h1,
h2 {
  line-height: 1.1;
}

/* Make images responsive */
img,
picture,
video,
svg {
  max-width: 100%;
  display: block;
}

/* General styling */
body {
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-700);
  font-size: var(--fs-default);
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  padding: 1rem;

  min-height: 100svh;
  display: grid;
  place-content: center;
}

.product {
  --content-spacing: 1rem;
  --content-padding: 0.5rem 1.5rem;
  --fs-title: 2rem;

  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  overflow: hidden;

  display: grid;
  gap: var(--content-spacing);
}

.product__content {
  padding: var(--content-padding);
  text-align: start;

  display: grid;
  gap: var(--content-spacing);
}

.product__category {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.product__title {
  color: var(--clr-neutral-900);
  font-size: var(--fs-title);
  font-family: var(--ff-accent);
}

.product__price {
  color: var(--clr-primary-600);
  font-family: var(--ff-accent);
  font-size: 2rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem;
  background-color: hsl(158, 36%, 37%);
  color: white;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Utility classes */
.has-flex {
  display: flex;
  align-items: center;
  gap: var(--content-spacing);
}
